<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js" integrity="sha512-7U4rRB8aGAHGVad3u2jiC7GA5/1YhQcQjxKeaVms/bT66i3LVBMRcBI9KwABNWnxOSwulkuSXxZLGuyfvo7V1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Table</title>
</head>

<body>
    <div class="header-container">
        <div class="header">
            <div class="menu" style="padding-left: 15px;">
                <div class="menu-button">
                    <button class="collapse-button">
                        <img src="{{ url_for('static', filename='img/menu-btn.png') }}" width="31" height="21">
                    </button>
                </div>
                <div class="logo-name">
                    <p>RLEA</p>
                </div>
            </div>
            <div class="logout" style="padding-right: 15px;">
                <form action="{{ url_for('auth.logout') }}">
                    <button type="submit" class="btn btn-danger">Выйти</button>
                </form>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="slide-bar">
            <div class="slide-bar-content">
                <button class="btn btn-danger" style="--bs-btn-padding-y: 5px; --bs-btn-padding-x: 0px;" id="collapse-bar">X</button>
                <div class="profile-logo" style="display: flex; flex-direction: column;">
                    <button name="logo">
                        <img src="{{ url_for('static', filename='img/user.png') }}" alt="#" width="60" height="60">
                        <label for="logo">{{ current_user.email }}</label>
                    </button>
                </div>
                {% if current_user.role == 'root' or current_user.role == 'manager' %}
                <button class="btn btn-success" id="profile-btn">
                    Профиль
                </button>
                {% endif %}
            </div>
        </div>
        <div class="container-tasks">
            <div class="row">
                {% if tasks != None %}
                {% for task in tasks %}
                <div class="col-sm-4" style="padding-bottom: 30px">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h4 style="text-align: center;"> {{ task.task_header }} | ID:{{task.task_id}} </h4>
                                <div class="task" style="display:flex; flex-direction: column;">
                                    <div class="task-text" style="text-align: center;">
                                        {{task.task_body}}
                                    </div>
                                    <div class="task-group" style="text-align: center;">
                                        Ответственная группа:{{ task.task_group }}
                                    </div>
                                    <div class="task_state" style="text-align: center;">
                                        Состояние: {{ task.task_state }}
                                    </div>
                                    <form style="display: flex; flex-direction: column; align-items: center">
                                        <input type="hidden" name="id" value="{{task.task_id}}" id="task_id">
                                        {% if task.task_group == current_user.role or current_user.role == 'manager' or
                                        current_user.role == 'root' %}
                                            {% if task.task_state == 'completed' %}
                                            <button disabled class="btn btn-primary" id='task-btn mark_as_comp' style="margin-bottom: 15px; margin-top: 15px"> Отметить как выполненное
                                            </button>
                                            <button disabled class="btn btn-primary" id='task-btn delete'> Удалить </button>
                                            {% else %}
                                            <button onclick="mark_as_comp_task({{task.task_id}})" class="btn btn-primary" id='task-btn mark_as_comp' style="margin-bottom: 15px; margin-top: 15px"> Отметить как выполненное
                                            </button>
                                            <button onclick="delete_task({{task.task_id}})" class="btn btn-primary" id='task-btn delete'> Удалить </button>
                                            {% endif %}
                                        {% endif %}

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h1 style="text-align: center;"> Список задач пуст </h1>
                {% endif %}
                <script>
                    function delete_task (id){
                        fetch('/delete_task',{
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'Access-Control-Allow-Origin': '*',
                            },
                            body:JSON.stringify({
                                id:id
                            }),
                        }).then(response=>{
                            var wrapper = document.createElement('div');
                            wrapper.innerHTML= '<div class="toast" role="alert" aria-live="assertive" aria-atomic="true"><div class="toast-header"><img src="" class="rounded me-2" alt=""><strong class="me-auto">RLEA</strong><small>User Manager</small><button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button></div><div class="toast-body">Success</div></div>'
                            var body = document.getElementById('toast_cont')
                            body.appendChild(wrapper)
                            $('.toast').toast('show');
                        });
                    }
                    function mark_as_comp_task(id){
                        fetch('/complete_task',{
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'Access-Control-Allow-Origin': '*',
                            },
                            body:JSON.stringify({
                                id:id
                            }),
                        }).then(response=>{
                            var wrapper = document.createElement('div');
                            wrapper.innerHTML= '<div class="toast" role="alert" aria-live="assertive" aria-atomic="true"><div class="toast-header"><img src="" class="rounded me-2" alt=""><strong class="me-auto">RLEA</strong><small>User Manager</small><button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button></div><div class="toast-body">Success</div></div>'
                            var body = document.getElementById('toast_cont')
                            body.appendChild(wrapper)
                            $('.toast').toast('show');
                        });
                    }
                </script>
            </div>
        </div>
        <style>
            @font-face {
                font-family: 'Anurati';
                src: url("{{ url_for('static',  filename='fonts/anurati_regular.otf') }}");
            }
        </style>
        <script>
            $(function () {
                $("#profile-btn").on('click', function () {
                    window.location.replace('/profile');
                });
            });
            $(function () {
                $("#profile-btn").on('click', function () {
                    window.location.replace('/profile');
                });
            });
            $(function () {
                $(".collapse-button").on("click", function () {
                    $(".slide-bar, .container-tasks").toggleClass('active');
                });
            });
            $(function () {
                $("#collapse-bar").on("click", function () {
                    $(".slide-bar, .container-tasks").toggleClass('active');
                });
            });
        </script>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>